/* global */
*{
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#db0c0cde;
}
a{
    text-decoration: none;
    color: white;
}
a,span{
    display: inline-block;
}
span{
    font-size: 1.5em;
    font-family: 'Blinker', sans-serif;
}
h2{
    font-size: 2.5rem;
}
h2>span:first-child{
    position: relative;
    z-index: 1;
    font-family: 'Blinker', sans-serif;
}
h2>span:first-child::before{
    content: "";
    position: absolute;
    background-image: url("../images/title.png");
    background-size: 100%;
    background-repeat: no-repeat;
    left: 0;
    top: 4px;
    display: inline-block;
    width: 159px;
    height: 100%;
    z-index: -1;
    opacity: .5;
}
section{
    margin-top: 15vh;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
/* buttons style */
@use "@material/button";
@include button.core-styles;

.animated-btn{
    padding: 1.5em;;
}
.mdc-button__label{
    margin-bottom: 0;
    color: white ;
}
.animated-btn{
    position: relative;
    z-index: 2;
}
.animated-btn>span,
.animated-btn::after,
.animated-btn::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 0;
    width: 25%;
    transition: .3s ease-in-out height;
    z-index: -1;
}
.animated-btn>span{
    top: 0;
}
.animated-btn .first{
    left: 25% !important;
}
.animated-btn>span:last-child{
    left: 75%;
}
.animated-btn::after,
.animated-btn::before{
    bottom: 0;
}
.animated-btn::before{
    left: 0%;
}
.animated-btn::after{
    left: 50%;
}
.animated-btn:hover>span,
.animated-btn:hover::after,
.animated-btn:hover::before{
    height: 100%;
}
.animated-btn:hover{
    border-color: var(--main-color);
    color: white;
}
/* global */
/* header */
header {
    background-color: rgba(0,0,0,.5);
}
header .bg-light{
    background-color: transparent !important;
}
header .navbar  .nav-item .nav-link,
header .navbar .navbar-brand{
    color: white !important;
}
header .navbar .navbar-brand{
    font-size: 2em !important;
}
header .navbar  .nav-item .nav-link{
    font-size: 1.3em !important;
}
.carousel .carousel-item .overlay{
    position:absolute;
        width: 100%;
    height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
}
.carousel .carousel-item .mdc-button--outlined {
    border-color: white;
}
.carousel .carousel-item .animated-btn:hover{
    border-color: var(--main-color) !important;
}
.carousel .carousel-item .head1{
    background-image: url("../images/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.carousel .carousel-item .head2{
    background-image: url("../images/img2.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.carousel .carousel-item .head3{
    background-image: url("../images/img3.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.carousel .img-holder img{
    position: absolute;
    width: 100%;
    bottom: -1em;
    z-index: 1;
}
.carousel-indicators [data-bs-target]{
    width: 1em;
    height: 1em;
    border: .1em solid white;
    border-radius: 50%;
    background-color: transparent;
}
.carousel-indicators .active{
    background: var(--main-color);
    border-color: var(--main-color);
}
.carousel .carousel-indicators{
    bottom: 5em;
}
.carousel .carousel-caption {
    bottom: 17.25rem;
    z-index: 2;
}
.navbar .nav .navbar-nav .nav-item .active{
    animation: homeanime infinite 1.1s;
    color:var(--main-color) !important;
    position: relative;
}
.navbar .nav .navbar-nav .nav-item .active::after{
    content: "";
    background-color: var(--main-color);
    position: absolute;
    bottom: .3em;
    left: .4em;
    width: 30%;
    height: .1em;
    display: inline-block;
}
@keyframes homeanime {
    0%{
        width: 30%;
    }
    100%{
        width: 200%;
    }
}
.anime1{
    position: absolute;
    width: .5em;
    height: .5em;
    border: .1em solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    right: 10%;
    opacity: 0;
    animation: headanime infinite 3s;
    animation-delay:.3s;

}
.anime2{
    position: absolute;
    width: .3em;
    height: .3em;
    border: .1em solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    right: 20%;
    opacity: 0;
    animation: headanime infinite 3s;
    animation-delay:.1s;
}
.anime3{
    position: absolute;
    width: .5em;
    height: .5em;
    border: .1em solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    right: 30%;
    opacity: 0;
    animation: headanime infinite 3s;
    animation-delay:.3s;
}
.anime4{
    position: absolute;
    width: .3em;
    height: .3em;
    border: .1em solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    right: 40%;
    opacity: 0;
    animation: headanime infinite 3s;
    animation-delay:.3s;
}
.anime5{
    position: absolute;
    width: .5em;
    height: .5em;
    border: .1em solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    right: 50%;
    opacity: 0;
    animation: headanime infinite 3s;
    animation-delay:.3s;
}
.anime6{
    position: absolute;
    width: .3em;
    height: .3em;
    border: .1em solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    right: 70%;
    opacity: 0;
    animation: headanime infinite 3s;
    animation-delay:.6s;
}
.anime7{
    position: absolute;
    width: .5em;
    height: .5em;
    border: .1em solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    right: 80%;
    opacity: 0;
    animation: headanime infinite 3s;
    animation-delay:.3s;
}
.anime8{
    position: absolute;
    width: .3em;
    height: .3em;
    border: .1em solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    right: 90%;
    opacity: 0;
    animation: headanime infinite 3s;
    animation-delay:.8s;
}
.anime9{
    position: absolute;
    width: .5em;
    height: .5em;
    border: .1em solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    right: 100%;
    opacity: 0;
    animation: headanime infinite 2.5s;
    animation-delay:.3s;
}
@keyframes headanime{
    0%{
        transform:translateY(-70px) ;opacity: 1;
    }
    100%{
        transform:translateY(-790px) ;opacity: 0;
    }
}
/* header */
/* about */
#about{
    background-image: url("../images/overlay.png");
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
}
#about .container .row .item:nth-child(3){
    transform: translateY(-10%);
}
#about .container .row .item .card{
    background-color: var(--main-color);
    color: white;
    margin-bottom: .5em;
    text-align: center;
    font-size: 1.8em;
    padding: 2em 0;
}
#about .container .row .item .card h4{
    font-size: 15.5rem;
    top: 0;
    left: 10%;
    opacity: 0.1;
    position: absolute;
    font-family: 'Blinker', sans-serif;
}
#about .container .row .item .card p{
    margin-bottom: 0 !important;
    padding-top: .3em;
}
#about .backtheme{
    position: relative;
    z-index: -1;
    margin-top: 15vh;
}
#about .backtheme::before{
    content: '';
    position: absolute;
    height: calc(100% - 5em);
    width: 100%;
    background-color: black;
    top: 1em;
}
#about .backtheme .container-fluid{
    color: white;
}
#about .container-fluid .about2 .item{
    padding: 2em 0;
    text-align: center;
}
#about .about2{
    justify-content: space-evenly;
}
#about .about2 .item:first-child{
    align-self: center;
}
#about .about2 .card{
    background-color:red;
    color: white;
    margin-bottom: .5em;
    text-align: center;
    font-size: 1.8em;
    padding: 2em 0;
}
#about  .icon{
    background-color: white;
    color: var(--main-color);
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
    align-self: center;
    display: flex;
    justify-content: center;
}
#about  .icon i{
    align-self: center;
}
#about  .icon::before{
    content: "";
    position: absolute;
    left: -15%;
    top: -15%;
    width: 3em;
    height: 3em;
    transform: scale(.5);
    display: inline-block;
    border: 1em solid #fff;
    border-radius: 50%;
    z-index: -1;
    animation: anime infinite 1s;
}
#about .whitetheme .item:first-child{
    background-image: url("../images/pattern.png");
    position: relative;
}
#about .whitetheme .item:nth-child(2){
    transform: translateY(1%);
}
#about .whitetheme .item:nth-child(2) .btn{
    color: var(--main-color);
    border-color: var(--main-color);
}
#about .whitetheme .item:nth-child(2) .animated-btn:hover{
    color: white;
}
#about .whitetheme .item h4{
    font-size: 1.7em;
}
#about .whitetheme .item p{
    font-size: 1.3em;
}
#about .whitetheme  .icon {
    background-color: var(--main-color);
    color: white;
    width: 2.5em;
    height: 2.5em;
    top: 50%;
    left: 50%;
    position: absolute;
}
#about .whitetheme .icon a {
    align-self: center;
}
#about .whitetheme .icon a:hover{
    color: white;
}
#about .whitetheme .icon::before{
    content: "";
    left: -40%;
    top: -40%;
    width: 4.5em;
    height: 4.5em;
    border-color: var(--main-color);
}
@keyframes anime{
    0%{
     transform: scale(.5);
     opacity: 1;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
       }
}
#about .whitetheme{
    margin-top: 15vh;
}
#about .whitetheme .mdc-button--outlined,
#projects .container .mdc-button--outlined {
    border-color: var(--main-color)
}
#about .whitetheme .mdc-button__label,
#projects .container .mdc-button__label{
    color: var(--main-color)
}
#about .whitetheme .animated-btn:hover .mdc-button__label,
#projects .container-fluid .animated-btn:hover .mdc-button__label{
    color: white !important;
}
/* about */
/* projects */
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
#projects,
#projects .container-fluid  .tab .mdc-tab__content,
#projects .container-fluid .tab .mdc-tab__text-label{
    color: white;
}
#projects .container-fluid .item {
    padding: 7em;
}
#projects .container-fluid .backitem{
    background-image: url("../images/primg.jpg");
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: right;
}
#projects .container-fluid .item .tab .tab-content{
    display: flex;
    padding-top: 5em;
}
#projects .container-fluid .item .tab .tab-content .img-holder-content{
    padding-left: 1.3em;
}
#projects .container-fluid .item .tab .tab-content .img-holder,
#projects .container-fluid .item .tab .tab-content .img-holder-content{
    width: 50%;
}
#projects .container-fluid .item .tab .tab-content .img-holder-content h3{
    font-size: 2.5em;
    color: var(--main-color);
}
#projects .container-fluid .item .tab .tab-content .img-holder-content p{
    font-size: 1.5em;
}
#projects .container-fluid .item .tab .tab-content .mdc-button--outlined:not(:disabled) {
    color: var(--main-color) !important;
}
#projects .container-fluid .item .tab .tab-content .mdc-button--outlined .mdc-button__label{
    color: var(--main-color);
}
#projects .container-fluid .item .tab .tab-content .mdc-button--outlined .mdc-button__ripple{
    border-color: var(--main-color);
}
#projects .container-fluid{
    background-color: black;
}
/* projects */
/* port */
#port{
    text-align: center;
}
#port .container .row .item{
    padding: 0;
    position: relative;
}
#port .container .row .item .img-holder{
    height: 100%;
    transition: .3s ease-in-out transform , .3s ease-in-out filter;
    overflow: hidden;
}
#port .container .item::after,
#port .container .item::before{
    content: "";
    background-color: white;
    z-index: 1;
}
#port .container .item .img-holder img{
    height: 100%;
    width: 100%;
    transition: .3s ease-in-out transform , .3s ease-in-out filter;
}
#port .container  .item:hover img{
    transform: scale(1.2);
    filter: grayscale(100%) blur(3px);
}
#port .container .item::after,
#port .container .item::before,
#port .container .item span{
    width: 100%;
    position: absolute;
    height: .2em;
    transition: .4s transform ease-in-out;
    left: 0;
    transform: scaleX(0);
    background-color: white;
}
#port .container .item::before{
    top: 5%;
}
#port .container .item::after{
    bottom: 5%;
}
#port .container .item span{
    height: 100%;
    width: .2em;
    top:0;
    transform: scaleY(0);
    background-color: white;
}
#port .container .item span:first-of-type{
    left: 5%;
}
#port .container .item span:last-of-type{
    left: 95%;
} 
#port .container .item:hover span{
    transform: scaleY(1);
}
#port .container .item:hover span{
    transform: scaleY(1);
}
#port .container .item:hover::after,
#port .container .item:hover::before{
    transform: scaleX(1);
}
#port .container .item li{
    height: 100%;
    width: 2em;
    top:0;
}
#port .container  .options{
    display: flex;
    justify-content: center;
}
#port .container  .options li a{
    color: black;
    padding: .2em 1em;
    font-size: 1.3em
}
#port .container  .options li{
    padding: .3em;
}
#port .container  .options .active{
    background-color: var(--main-color);
    border-radius: 10%;
}
#port .container  .options .active {
    color: white;
}
#port .container .row .item .img-content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
}
#port .item .img-content ul{
   display: flex;
   justify-content: center;
   padding-left: 0;
   overflow: hidden
}
#port .container .row .item .img-content h3{
    transition: .4s transform ease-in-out ,.4s ease-in-out opacity;
    transform: translateY(-70%);
    opacity: 0;
}
#port .container .row .item .img-content ul li{
    margin: .3em;
    background-color: var(--main-color);
    transition: transform ease-in-out .4s ;
    transform: translateY(100%);
    display: flex;
    align-content: center;
    justify-content: center;
}
#port .container .row .item .img-content ul li a{
    color: white;
    align-self: center;
    padding: .2em;
}
#port .container .row .item:hover .img-content h3{
    transform: translateY(0);
    opacity: 1;
}
#port .container .row .item:hover .img-content ul li {
    transform: translateY(-13%);
}
/* port */
/* work */
#work {
    background-image: url("../images/service.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}
#work .overlay{
    position:absolute;
    width: 100%;
    height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 0;
        cursor: pointer;
}
#work .container-fluid .row{
    padding: 5vh 0;
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
}
#work .container-fluid .row .item{
       position: relative;
       background-color: white;
       color: black;
       padding: 3em 1.3em;
       box-shadow: 5px 5px 7px black;
       border-radius: 3%;
}
#work .container-fluid .row .item .plus-icon{
    position: absolute;
    top: 95%;
    left: 45%;
}
#work .container-fluid .row .item .plus-icon i{
        background-color: white;
        border: .1em solid white;
        border-radius: 50%;
        padding: .5em;
        box-shadow: 3px 3px 7px black;
        color: #8b8686;
        transition: color .5s ease-in-out;
        transition: border-color .5s ease-in-out;
}
#work .container-fluid .row .item .plus-icon:hover i{
    border-color: var(--main-color);
    color: var(--main-color);
}
#work .container-fluid .row .item h3{
    padding-top: 3vh;
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.6rem;
}
#work .container-fluid .row .item p{
    font-size: 1.3em;
}
#work .container-fluid .row .item .icon{
    background-color: white;
    width: 5em;
    height: 5em;
    position: absolute;
    top: -10%;
    padding: .7em;
    left: calc(50% - 35px);
    transition: transform .4s ease-in-out;
}
#work .container-fluid .row .item .icon::before{
    content: "";
    position: absolute;
    width: 5em;
    height: 6em;
    transition: transform .4s ease-in-out;
    transform: translateY(-3%);
    background-color: transparent;
    border: .1em solid white;
    left: 0;
    top: 0;
}
#work .container-fluid .row .item .icon span{
    background-color: var(--main-color);
    width: calc (100% - 20px);
    display: block;
    line-height: 2.5em;
    height: 100%;
    color: white;
    border-radius: 10%;
}
#work .container-fluid .row .item .icon span i{
    transition: transform .4s ease-in-out;
    font-size: 1.3em;
}
#work .container-fluid .row .item:hover .icon{
    transform: rotate(45deg);
}
#work .container-fluid .row .item:hover .icon span i{
    transform: rotate(-45deg);

}
#work .container-fluid .row .item:hover .icon::before{
    transform: translate(-3%,-3%);
    width: 5em;
    height:6em;
}
/* work */
/* price */
#price {
    text-align: center;
}
#price .row{
    justify-content: space-evenly;
}
#price .row .item{
    border: .1em solid var(--main-color);
    padding: 1.5em;
    line-height: 1.9em;
    transition: 0.7s;
    position: relative;
    box-shadow: 7px 7px lightgrey;
    transform: scale(.9);
}
#price .row .item h3{
    font-size: 2.75rem;
    color: var(--main-color);
    font-weight: bold;
}
#price .row .item h4{
    font-size: 3.5rem;
        font-weight: bold;
    opacity: .7;
}
#price .row .item .month{
    font-size: 1.3em;
    line-height: 2.;
    padding-bottom: 5vh;
}
#price .row .item ul{
    font-size: 1.3em;
    line-height: 1.7em;
    padding-left: 0;
}
#price .row .item ul li:first-of-type{
    padding-top: 5vh;
}
#price .row .diff{
    background-color: var(--main-color);
    color: white;
    transform: scale(1);
}
#price .row .diff h3{
    color: white;
}
#price .row .item::before {
    content: "";
    border-top: 3.5em solid var(--main-color);
    border-bottom: 3.5em solid transparent;
    border-right: 3.5em solid transparent;
    position: absolute;
    top: 0%;
    left: 0%;
    border-top-color: var(--main-color);
    transition: 0.7s;
}
#price .row .item::after{
    content: "";
    border-top: 3.5em solid transparent;
    border-bottom: 3.5em solid var(--main-color);
    border-left: 3.5em solid transparent;
    position: absolute;
    bottom: 0%;
    right: 0%;
    border-bottom-color: var(--main-color);
    transition: 0.7s;
}
#price .row .diff::before{
    border-top-color:white;
}
#price .row .diff::after{
    border-bottom-color: white;
}
#price .row .item .mdc-button--outlined:not(:disabled){
    border-color: var(--main-color);
    padding: 1.7em 3em;
    font-size: 1.3em;
}
#price .row .item .mdc-button .mdc-button__label{
    color: var(--main-color);
}
#price .row .diff .mdc-button--outlined:not(:disabled){
    border-color: white;
}
#price .row .diff .mdc-button .mdc-button__label{
    color: white;
}
#price .row .item:hover .month,
#price .row .item:hover h3,
#price .row .item:hover .mdc-button .mdc-button__label{
    color: white;
}
#price .row .item:hover::after{
    border-bottom-color:white;
}
#price .row .item:hover::before{
    border-top-color:white ;
}
#price .row .item:hover{
    background-color: var(--main-color);
    color: white;
}
#price .row .item:hover .mdc-button--outlined:not(:disabled){
    border-color: white;
}
/* price */
/* mark */
#mark{
    background-image: url("../images/message1.jpg");
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    color: white;
    text-align: center;
    height: 35vh;
    position: relative;
    box-sizing: border-box;
}
#mark .overlay{
    position:absolute;
    width: 100%;
    height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 0;
        cursor: pointer;
}
#mark .row .item{
    z-index: 1;
    padding-top: 10vh;
}
#mark .animated-btn{
    padding: 2.5em;
}
#mark .mdc-button--outlined{
    border-color: white;
}
#mark .animated-btn:hover {
    border-color: var(--main-color);
}
/* mark */
/* team */
#team .container .title{
    text-align: center;
}
#team .container .member{
    position: relative;
}
#team .member .img-holder {
    position: relative;
    overflow: hidden;
}
#team .member .overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 65%);
    opacity: 0;
    transition: opacity .4s ease;
    position: absolute;
}
#team .member:hover .overlay{
    opacity: 1;
}
#team .member .social{
    width: 1em;
    text-align: center;
    opacity: 0;
    position: absolute;
    bottom: -11%;
    left: -24%;
}
#team .member:hover ul .twit{
    transition: 1.1s;
}
#team .member:hover ul .go{
    transition: 0.7s;
}
#team .member:hover ul .face{
    transition: 0.9s;
}
#team .member:hover ul .you{
    transition: 0.5s;
    padding-left: .1em;
}
#team .member:hover ul li{
    transform: translate(2.5em,-5em);
}
#team .member ul li i{
    background-color: var(--main-color);
    padding: 1.1em;
    transition: background-color .2s linear;
}
#team .member:hover .social{
    opacity: 100%;
    color: white;
    transition: .9s;
}

#team .member:hover .social{
    opacity: 100%;
    color: white;
    transition: .9s;
}
#team .member .info-member{
    opacity: 0;
    position: absolute;
    bottom: 13%;
    left: 17%;
   color: white;
   transition: .9s;
}
#team .member .info-member h4{
    font-size: 2rem;
}
#team .member .info-member p{
    font-size: 1.3em;
    opacity: .7;
}
#team .member:hover .info-member{
    transform: translate(19%);
    opacity: 100%;
}
#team .member .social li:hover i{
    background-color: black;
}
#team .member .social li:hover a{
    color: white;
}
/* team */
/* test */
#test{
    background-image: url("../images/test.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    color: white;
}
#test .overlay{
    position:absolute;
    width: 100%;
    height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 0;
        cursor: pointer;
}
#test .container .row>*{
    z-index: 1;
}
#test .container .row .pic{
    width: 30%;
    margin: 0 auto;
}
#test .container .row .pic img{
    width: 75%;
    margin: 0 auto;
}
#test .container .row .carousel .carousel-caption {
    bottom: 0;
    display: contents !important;
}
#test .container .row .carousel .carousel-caption h3{
    color: var(--main-color);
}
#test .container .container .row .row{
    margin: 0 auto;
}
#test .container:nth-child(2) .row:nth-child(2) .sponsor img{
    width: 75% !important;
}
#test .container:nth-child(2) .row:nth-child(2) img:hover .sponsor{
    background-color: red;

}
/* test */